{% extends 'base.html.twig' %}
{# {% block title %} Toutes les recettes {%
endblock %} #}
{%block title "Toutes les recettes de la cuisine" %}
{% block
body %}
	<div class="row">
		<p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
			mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
			l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
			ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
			texte.
		</p>
	</div>

	{% if recipes|length != 0 %}
		<div class="row mt-2">

			{% for recipe in recipes %}
				<div class="col-md-3 mt-2">
					<div class="card">
						<div class="card-body">
							<h4 class="text-muted">{{ recipe.getTitle() }}</h4> 
							<p class="fst-italic">Date de création : le 27/01/2025</p>
							<hr class="my-4 border-primary">
							<p style="text-align: justify;">{{ recipe.getContent() }}</p>
						</div>
						<div class="card-footer">
							<a href="{{ path('recipe.show', { id: recipe.getId(), slug: recipe.getSlug() }) }}" class="btn btn-outline-primary rounded-0">Lire plus</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="alert alert-warning" role="alert">
					Aucune recette n'a été trouvée.
				</div>
			{% endfor %}

		</div>
	{% endif %}
{% endblock %}
