{% extends 'base.html.twig' %}

{%block title "Recette : " ~ recipe.getTitle() %}

{% block body %}

<div class="row">
	<div class="card col-md-12">
		<div class="card-body">
			<h3 class="text-muted">{{ recipe.title }}</h3> <hr class="bg-primary">
		<p>{{ recipe.content | nl2br }}</p>
		</div>
	</div>
</div>

{% endblock %}
